<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<security:http auto-config="true" disable-url-rewriting="true" use-expressions="true">
		<security:form-login login-page="/signin" authentication-failure-url="/signin?error=1"/>
		<security:logout logout-url="/logout" />
		<security:remember-me services-ref="rememberMeServices" key="remember-me-key"/>
		<security:intercept-url pattern="/" access="permitAll" />
		<security:intercept-url pattern="/resources/**" access="permitAll" />
		<security:intercept-url pattern="/signin" access="permitAll" />
		<security:intercept-url pattern="/signup" access="permitAll" />
		<security:intercept-url pattern="/default/**" access="permitAll" />
		<security:intercept-url pattern="/**" access="isAuthenticated()" />
	</security:http>
	
	<security:authentication-manager erase-credentials="true" >
		<security:authentication-provider user-service-ref="userService">
			<security:password-encoder ref="passwordEncoder" />
		</security:authentication-provider>
	</security:authentication-manager>

</beans>